.service-container {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}

.service-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 110rem;
}

.service-title {
  max-width: 50rem;
}

.service-title h3 {
  font-size: 2.4rem;
  text-transform: uppercase;
  text-align: center;
}

.service-text {
  font-size: 1.6rem;
  text-align: center;
  color: var(--text-gray);
  margin: 4.8rem 0;
}

.service-icons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 4.8rem;
}

.ph-coffee,
.ph-hamburger,
.ph-wine,
.ph-fork-knife {
  color: var(--primary-color);
  font-size: 8rem;
  padding: 3rem;
  border: 0.5rem solid var(--light-gray);
  border-radius: 50%;
  transition: all 0.3s;
}

.ph-coffee:hover,
.ph-hamburger:hover,
.ph-wine:hover,
.ph-fork-knife:hover {
  border: 0.5rem solid var(--primary-color);
}

.res-text h3 {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin: 2.4rem 0 1.6rem 0;
}

.res-text p {
  font-size: 1.6rem;
  color: var(--text-gray);
  max-width: 30rem;
}

.service-icon {
  position: relative;
  padding-bottom: 2.4rem;
}

.service-icon::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 2rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid var(--text-gray);
}
