.margin-left-right {
  margin: 0 4rem 0 4rem;
}

/* PAGE TITLES FORMATING------------------------ */

.title-format {
  text-align: center;
  padding: 10rem 0;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--dark-gray);
}

.star1,
.star2,
.star3 {
  font-size: 2.5rem;
  color: var(--primary-color);
}
